<div id="main" class="form">
<form id="create">
    <div class="left formTitle">
        Title
    </div>
    <div class="left formContent">
        <input type="text">
    </div>
    <div class="clear"></div>
    <div class="left formTitle">
        Description
    </div>
    <div class="left formContent">
        <textarea rows="10" cols="70"></textarea>
    </div>
    <div class="clear"></div>
    <div class="left formTitle">
        Importance
    </div>
    <div class="left formContent importance">
        <div class="left"><img src="images/ray_act.png"></div>
        <div class="left"><img src="images/ray_act.png"></div>
        <div class="left"><img src="images/ray_act.png"></div>
        <div class="left"><img src="images/ray_act.png"></div>
        <div class="left"><img src="images/ray_act.png"></div>
    </div>
    <div class="clear"></div>
    <div class="left formContent">&nbsp;</div>
    <div class="left formTitle"><button>Cancel</button>&nbsp;<button>Save</button></div>
    {{modus}}
</form>
</div>