<div id="main">
    <div class="buttons">
        <div class="left half"><button id="newnote">Create new Note</button></div>
        <div class="left half"><select><option>Black White-Style</option></select></div>
    </div>
    <div class="clear"></div>
    <div class="order">
        <div class="left"><button id="order_finish">By finished Date</button></div>
        <div class="left"><button id="order_created">By created Date</button></div>
        <div class="left"><button id="order_importance">By Importance</button></div>
    </div>
    <div class="clear"></div>
    <div class="items">
        <div class="title">
            <div class="left">Nächsten Mittwoch</div>
            <div class="left">CAS FEE Selbstudium / Projekt Aufgabe erledigen</div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="item">

    </div>
</div>


<a href="#create_note">MAKE NEW ON</a>

<a href="#edit_note">EDIT NEW ON</a>
