<div id="main">
    <div class="buttons">
        <div class="left half"><a href="#create_note" class="button">Create new Note</a></div>
        <div class="left half"><select class="button"><option>Black White-Style</option></select></div>
    </div>
    <div class="clear"></div>
    <div class="order">
        <div class="left"><button id="order_finish" class="button">By finished Date</button></div>
        <div class="left"><button id="order_created" class="button">By created Date</button></div>
        <div class="left"><button id="order_importance" class="button">By Importance</button></div>
    </div>
    <div class="clear"></div>

    <div class="clear"></div>
    <div class="item">
    </div>
    <ul class="items">
        {{#each notes}}
            <li class="item">
                <div class="title">
                    <div class="left"><strong>{{this.title}}</strong> </div>
                    <div class="left">
                        <ul class="importance index">
                            {{#times this.rate}}
                            <li class="left importance_act"></li>
                            {{/times}}
                        </ul>
                    </div>
                    <div class="clear">
                        <div class="left description"> <em>{{this.description}}</em> </div>
                        <div class="left buttonindex"><button class="btn-row-listener button" data-id="{{this.id}}">Edit</button></div>
                    </div>
                </div>
                <div class="clear"></div>
            </li>
        {{/each}}
    </ul>

</div>
<script>
    $('.description').on('click', function() {
        //$(this).animate({height: "100%", width: "100%"}, 500);
        $(this).toggleClass('fulltxt');
    });

</script>