<div id="main">

    <div class="left formTitle">
        Title
    </div>
    <div class="left formContent">
        <input type="text">
    </div>
    <div style="clear:all"></div>
    <div class="left formTitle">
        Description
    </div>
    <div class="left formContent">
        <textarea rows="10" cols="70"></textarea>
    </div>
    <div style="clear:all"></div>




    {{modus}}

</div>