<div id="main">
    <ul class="buttons">
        <li class="left half"><button id="newnote">Create new Note</button></li>
        <li class="left half">
            <div class="styled-select">
                <select>
                    <option>Black White-Style</option>
                    <option>Black White-Style</option>
                </select>
            </div>
        </li>
    </ul>
    <div class="clear"></div>
    <ul class="order">
        <li class="left"><button id="order_finish">By finished Date</button></li>
        <li class="left"><button id="order_created">By created Date</button></li>
        <li class="left"><button id="order_importance">By Importance</button></li>
    </ul>
    <div class="clear"></div>
    <div class="items">
        <div class="title">
            <div class="left">Nöchsten Mittwoch</div>
            <div class="left">CAS FEE Selbstudium / Projekt Aufgabe erledigen</div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="item">

    </div>
</div>